.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
}
html,body{
  height:100%;
  
}
.line{
  border-top: 1px solid #cccccc;
  width: 98%;
  margin: 6px auto;
}